<a href="https://colab.research.google.com/github/debbiedebdeb/MDG/blob/master/%EB%94%94%EC%A7%80%ED%84%B8%EC%A0%95%EB%B3%B4%EC%A7%80%EC%88%98_%ED%8C%8C%EC%83%9D%EB%B3%80%EC%88%98_%EC%83%9D%EC%84%B1%26%EC%A2%8C%ED%91%9C%EB%A5%BC_%EC%9D%B4%EC%9A%A9%ED%95%B4_%EA%B0%9C%EC%88%98%ED%8C%8C%EC%95%85.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# 디지털정보지수 (5,6,70대)

In [ ]:
media = pd.read_excel('/content/drive/MyDrive/공유폴더/완성데이터/원천 데이터(데이터 가공 전)/동별_연령대별_인구_from 서울시열린데이터.xlsx')
media[:4]

,동,0~4세,5~9세,10~14세,15~19세,19세미만,20~24세,25~29세,20대,30~34세,...,55~59세,50대,60~64세,65~69세,60대,70~74세,75~79세,80~84세,85~89세,70세 이상
0,사직동,194,352,345,342,1233,461,728,1189,772,...,707,1542,719,503,1222,359,344,306,168,1177
1,삼청동,34,60,89,82,265,134,175,309,159,...,183,379,224,190,414,133,103,90,61,387
2,부암동,149,327,384,466,1326,576,627,1203,591,...,793,1682,741,585,1326,409,330,265,139,1143
3,평창동,459,687,765,801,2712,1081,1212,2293,1042,...,1560,3258,1518,1191,2709,717,586,507,286,2096

In [ ]:
#media 정리 
media.drop(columns = ['0~4세', '5~9세', '10~14세', '15~19세',
                     '20~24세', '25~29세','30~34세', '35~39세','40~44세', '45~49세',
                      '50~54세', '55~59세',  '60~64세', '65~69세','70~74세', '75~79세', '80~84세', '85~89세'], inplace = True)

In [ ]:
media[:5]
media.to_csv('동별_연령별_인원수for미디어정보지수.csv')

In [ ]:
#역량수준 dataframe (50,60,70)
dgt_level = [0.92,0.593,0.224]

#역량수준과 인구 수 곱하기 
result = round(media.iloc[:,5:]*dgt_level,2)

In [ ]:
media_df = pd.concat([media[['동']],result], axis = 1)
media_df['디지털정보지수'] = media_df.sum(axis =1)
media_df
final_df = media_df[['동','디지털정보지수']]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

In [ ]:
final_df.to_csv('동별 디지털정보지수(50~).csv')
final_df.to_excel('동별 디지털정보지수(50~).xlsx')

* 주소를 이용해 위도, 경도를 가져옵니다 
* 지오코딩 이용

In [ ]:
!pip install geopy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: geopy in /usr/local/lib/python3.7/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.7/dist-packages (from geopy) (1.52)

In [ ]:
from geopy.geocoders import Nominatim

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/공유폴더/완성데이터/NEW(공모전용)/연면적.csv')
df.head(1)

   자치구      동         시설명                 주소     연면적
0  종로구  청운효자동  청운효자동 주민센터  서울특별시 종로구 자하문로 92  965.52

In [ ]:
geolocoder = Nominatim(user_agent = 'South Korea', timeout = None)

def geocoding(address) : 
    try : 
        geo= geolocoder.geocode(address)
        crd = (str(geo.latitude), str(geo.longitude))
        return crd
    
    except : 
        return (0,0)

In [ ]:
lats = []
logs = []

for address in df['주소'] : 
    crd = geocoding(address)
    lats.append(crd[0])
    logs.append(crd[1])

lats = pd.Series(lats)
logs = pd.Series(logs)

In [ ]:
df = pd.concat([df, lats], axis = 1)
df = pd.concat([df, logs], axis = 1)
df.head(5)

,자치구,동,시설명,주소,연면적,0,0,0,0,0,0
0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,0,0,37.5840835,126.9706357,37.5840835,126.9706357
1,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,0,0,37.576191449999996,126.96882915,37.576191449999996,126.96882915
2,종로구,종로1.2.3.4가동,종로1-4가동 주민센터,서울특별시 종로구 종로17길 8,1981.09,0,0,37.5707276,126.9889123,37.5707276,126.9889123
3,종로구,삼청동,삼청동 주민센터,서울특별시 종로구 삼청로 107,998.1,0,0,37.5849793,126.98178162729107,37.5849793,126.98178162729107
4,종로구,가회동,가회동 주민센터,서울특별시 종로구 북촌로 35,1032.08,0,0,37.58002545,126.98480464831948,37.58002545,126.98480464831948

In [ ]:
df.columns = ['자치구', '동', '시설명', '주소', '연면적', '삭제1','삭제2', '위도', '경도', 
              '삭제3', '삭제4']
df.head(1)

,자치구,동,시설명,주소,연면적,삭제1,삭제2,위도,경도,삭제3,삭제4
0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,0,0,37.5840835,126.9706357,37.5840835,126.9706357

In [ ]:
df.drop(columns= ['삭제1', '삭제2', '삭제3', '삭제4'], inplace = True)
df.head(2)

,자치구,동,시설명,주소,연면적,위도,경도
0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.5840835,126.9706357
1,종로구,사직동,사직동 주민센터,서울특별시 종로구 사직로9길 1,346.65,37.576191449999996,126.96882915

In [ ]:
df[df['위도']==0]

     자치구     동        시설명                      주소      연면적 위도 경도
115  성북구   안암동   안암동 주민센터        서울특별시 성북구 인촌로 16  2226.53  0  0
238  양천구  신정6동  신정6동 주민센터        서울특별시 양천구 신남3길 6   1096.3  0  0
274  구로구   수궁동   수궁동 주민센터     서울특별시 구로구 오리로15길 32   863.22  0  0
439  중랑구   중화동    중화경로복지관     서울특별시중랑구 동일로138길 28      753  0  0
476  강서구   화곡동  연지어르신복지센터  서울특별시 강서구 화곡로 58길 30-7      796  0  0
496  강남구   역삼동   역삼노인복지센터       서울특별시 강남구 도곡로길 27    1,030  0  0
508  성동구   용답동    삼성시니어센터   서울특별시 성동구 용답중앙11다길 22  1716.38  0  0

In [ ]:
#하나하나 찾아서 넣기

# 위도경도 더하기

# 위도경도로 주변시설 개수 찾기

In [ ]:
!pip install haversine

from haversine import haversine

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting haversine
  Downloading haversine-2.6.0-py2.py3-none-any.whl (6.8 kB)
Installing collected packages: haversine
Successfully installed haversine-2.6.0

In [ ]:
df = pd.read_excel('/content/drive/MyDrive/공유폴더/NEW(공모전용)/데이터위도경도포함.xlsx')
df.head(1)

,Unnamed: 0,자치구,동,시설명,주소,연면적,위도,경도
0,0,종로구,청운효자동,청운효자동 주민센터,서울특별시 종로구 자하문로 92,965.52,37.584083,126.970636

In [ ]:
df_bus = pd.read_csv('/content/drive/MyDrive/공유폴더/EDA 및 탐색/Data 수집/주변특성/서울시버스정류소좌표데이터(2022.04.15).csv', 
                     encoding ='cp949')
df_bus

       ARS-ID           정류소명         X좌표        Y좌표
0        1001        종로2가사거리  126.987750  37.569765
1        1002    창경궁.서울대학교병원  126.996566  37.579183
2        1003      명륜3가.성대입구  126.998340  37.582671
3        1004       종로2가.삼일교  126.987613  37.568579
4        1005  혜화동로터리.여운형활동터  127.001744  37.586243
...       ...            ...         ...        ...
11310   25995          우성아파트  127.139338  37.550386
11311   25996          우성아파트  127.140046  37.550643
11312   25997           조일약국  127.123596  37.533630
11313   25998           성내시장  127.125497  37.536155
11314   25999    천호우체국.로데오거리  127.127337  37.540343

[11315 rows x 4 columns]

In [ ]:
#df_bus (경도 위도)를 위도 경도로  바꿔준다 
df_bus[['ARS-ID', '정류소명', 'Y좌표', 'X좌표']]

       ARS-ID           정류소명        Y좌표         X좌표
0        1001        종로2가사거리  37.569765  126.987750
1        1002    창경궁.서울대학교병원  37.579183  126.996566
2        1003      명륜3가.성대입구  37.582671  126.998340
3        1004       종로2가.삼일교  37.568579  126.987613
4        1005  혜화동로터리.여운형활동터  37.586243  127.001744
...       ...            ...        ...         ...
11310   25995          우성아파트  37.550386  127.139338
11311   25996          우성아파트  37.550643  127.140046
11312   25997           조일약국  37.533630  127.123596
11313   25998           성내시장  37.536155  127.125497
11314   25999    천호우체국.로데오거리  37.540343  127.127337

[11315 rows x 4 columns]

In [ ]:
from tqdm import tqdm

# 함수만들기
def find_bus_cnt(center, store, column) :
    for i in tqdm(range(len(center))) :
        distance = []
        for j in range(len(store)) : 
            centerloc = tuple(df[['위도', '경도']].iloc[i])
            storeloc = tuple(df_bus[['Y좌표', 'X좌표']].iloc[j])
            distance.append(haversine(centerloc, storeloc, unit = 'm'))
            
        distance = [d for d in distance if d <= 200.0]
        center[column][i] = len(distance)
        
    return center

In [ ]:
df['200m내버스정류장개수'] = 0 
df = find_bus_cnt(df, df_bus,'200m내버스정류장개수')
df

  0%|          | 0/509 [00:00<?, ?it/s]/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
 76%|███████▋  | 389/509 [1:29:50<27:23, 13.70s/it]

* 개수 파악 부분은 서현수 팀원님이 담당했기 때문에 내 코드는 이용 X
* 위 코드의 장, 단점 : 
 * 장점 : UTMK로 하나하나 변경하지 않고 wgs84만으로도 계산 가능. 
 * 단점 : 코드 로딩 시간이 너무 오래 걸림